*,
*:before,
*:after {
  box-sizing: border-box;
}

/*FONTS */
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Courgette&display=swap");

/* ALLGEMEIN */

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 3em;
  text-align: center;
}

.headline-2 {
  font-size: 2em;
}

/* HEADER */

.header-section {
  background: white;
  height: auto;
}

/* NAVBAR */

.navbar-section {
  display: grid;
  background: #adb5bd;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.logo-name {
  text-align: left;
  list-style-type: none;
  font-family: "Courgette", cursive;
}

.logo-name li {
  display: inline-block;
  padding: 0.8em;
}

.logo-name a {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
}

a:hover {
  color: #fff;
}

.links-nav {
  text-align: right;
  list-style-type: none;
}

.links-nav li {
  display: inline-block;
  padding: 0.8em;
  padding-right: 2em;
}

.links-nav a {
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 3px;
}

/* BANNER */

.banner {
  display: grid;
  background: #f7faff;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.banner img {
  width: 30em;
  height: auto;
  border-bottom-right-radius: 40px;
}

.banner img:hover {
  filter: grayscale(80%);
  opacity: 0.9;
  transition-delay: 400ms;
  transition-duration: 400ms;
}

/* Main */

.main-section-1 {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  background: #fff;
  margin-bottom: 1.5em;
}

.main-section-1 section {
  max-height: 200px;
  overflow: auto;
}

.main-section-2 {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  background: #acb5bd;
}

.main-section-2 section {
  max-height: 200px;
  overflow: auto;
}

.main-section-3 {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  background: #fff;
}

.main-section-3 section {
  max-height: 300px;
  overflow: auto;
}

.card-white {
  background: #fff;
  width: 25em;
  height: auto;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 0.9em;
  text-align: center;
}

.card-white:hover {
  background: #acb5bd;
}

.card-grey {
  background: #acb5bd;
  width: 25em;
  height: auto;
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 0.9em;
  text-align: center;
}

.card-grey:hover {
  background: #fff;
}

/* FOOTER */
.footer-section {
  display: grid;
  background: #adb5bd;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

.kontakt {
  list-style-type: none;
}

/* SONSTIGES */

.grey {
  background: #acb5bd;
  padding-top: 0.3em;
}

.vertical {
  padding: 8px;
  border-left: 2px solid grey;
}
